.header-container {
    display: flex;
    align-items: center;
    padding: 2rem 7.22rem 4rem 7.22rem;

    img {
        height: 1.7rem;
        margin-right: 0.5rem;
        align-self: flex-end;
    }

    nav ul {
        list-style: none;
        display: flex;

        li {
            margin-left: 1.5rem;
        }

        li a {
            text-decoration: none;
            font-weight: 700;
            font-size: 0.77rem;
            color: var(--color-neutral-grayish-violet);

            &:hover {
                color: var(--color-neutral-very-dark-blue);
            }
        }
    }

    .auth-buttons {
        display: flex;
        margin-left: auto;

        button {
            width: 5.5rem;
            border-style: none;
            border-radius: 1rem;
            background: none;
            font-weight: 700;
            font-size: 0.77rem;
            line-height: 2.1rem;
        }

        .login-button {
            color: var(--color-neutral-grayish-violet);

            &:hover {
                color: var(--color-neutral-very-dark-blue);
            }
        }

        .signup-button {
            background: var(--color-primary-cyan);
            color: #fff;

            &:hover {
                background: var(--color-hover-button);
                transition: 0.2s;
            }
        }
    }
}

.get-started-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 7.22rem;
    overflow: hidden;

    .get-started-left {
        flex: 1;
        margin-right: 1rem;

        h1 {
            font-size: 4rem;
            line-height: 4.8rem;
            color: var(--color-neutral-very-dark-blue);
        }

        p {
            color: var(--color-neutral-grayish-violet);
            font-weight: 500;
        }

        h1,
        p {
            max-width: 30rem;
        }

        button {
            width: 10rem;
            border-radius: 2.5rem;
            border: none;
            background: var(--color-primary-cyan);
            color: #fff;
            font-size: 0.88rem;
            font-weight: 700;
            line-height: 2.6rem;
            margin-top: 1.5rem;

            &:hover {
                background: var(--color-hover-button);
                transition: 0.2s;
            }
        }
    }

    .get-started-right {
        flex: 1;
        margin-left: auto;
        margin-right: -5rem;

        img {
            width: 100%;
        }
    }
}

.shortener-container {
    background: linear-gradient(#fff 4rem, var(--color-light-gray) 0);
    margin-top: 5rem;
    padding: 0 7.22rem 4rem 7.22rem;
}

.shortener-form {
    padding: 2.5rem;
    background: var(--color-primary-dark-violet) url("/images/bg-shorten-desktop.svg");
    border-radius: 0.44rem;

    display: flex;
    position: relative;

    input {
        flex: 1;
        margin-right: 1rem;
        padding: 0 1.2rem;
        font-weight: 500;
        color: var(--color-neutral-very-dark-blue);

        &::placeholder {
            color: var(--color-neutral-grayish-violet);
        }
    }

    button {
        width: 9rem;
        background: var(--color-primary-cyan);
        color: #fff;
        font-weight: 700;

        &:hover {
            background: var(--color-hover-button);
            transition: 0.2s;
        }
    }

    input,
    button {
        border: none;
        border-radius: 0.44rem;
        font-size: 1rem;
        line-height: 3rem;
    }
}

.invalid-form {
    p,
    input::placeholder {
        color: var(--color-secondary-red) !important;
    }

    p {
        font-style: italic;
        margin-top: 0.3rem;
        font-size: 0.8rem;
        position: absolute;
        bottom: 1rem;
    }

    input {
        border: 0.17rem solid var(--color-secondary-red) !important;
    }
}

.statistics-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 4rem;

    h1 {
        color: var(--color-neutral-very-dark-blue);
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        color: var(--color-neutral-grayish-violet);
        font-weight: 500;
        font-size: 0.88rem;
    }

    h1,
    p {
        width: 30rem;
    }
}

.statistics-cards {
    display: grid;
    grid-template-columns: repeat(3, 17.66rem);
    column-gap: 1.5rem;
    justify-content: center;

    margin-top: 5rem;
    position: relative;
    z-index: 1;

    &:after {
        content: "";
        background: var(--color-primary-cyan);
        width: 40rem;
        height: 0.5rem;

        position: absolute;
        top: 7.5rem;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
    }
}

.boost-container {
    background: var(--color-primary-dark-violet) url("/images/bg-boost-desktop.svg") center no-repeat;
    background-size: cover;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #fff;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    button {
        width: 10rem;
        border-radius: 2.5rem;
        border: none;
        background: var(--color-primary-cyan);
        color: #fff;
        font-size: 0.88rem;
        font-weight: 700;
        line-height: 2.6rem;

        &:hover {
            background: var(--color-hover-button);
            transition: 0.2s;
        }
    }
}

.footer-container {
    padding: 2rem;
    background: var(--color-neutral-very-dark-violet);

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;

    img {
        height: 1.7rem;
        justify-self: center;
    }

    div {
        span {
            color: #fff;
            font-weight: 700;
            font-size: 0.77rem;
        }

        ul {
            margin-top: 1rem;

            li {
                list-style: none;
                text-decoration: none;
                font-size: 0.77rem;
                color: var(--color-neutral-gray);

                &:hover {
                    color: var(--color-primary-cyan);
                    cursor: pointer;
                    transition: 0.2s;
                }
            }
        }
    }

    .features {
        justify-self: right;
    }

    .resources {
        justify-self: center;
    }

    .social-media svg {
        fill: #fff;

        & + svg {
            margin-left: 1rem;
        }

        &:hover {
            fill: var(--color-primary-cyan);
            cursor: pointer;
            transition: 0.2s;
        }
    }
}

@media (max-width: 900px) {
    .get-started-container {
        flex-direction: column;
        padding-left: 3.61rem;

        .get-started-left {
            text-align: center;
            order: 2;
            padding-right: 0;

            h1 {
                font-size: 3.5rem;
                line-height: 4.3rem;
            }
        }

        .get-started-right {
            order: 1;
            margin-bottom: 2rem;
            margin-right: -15rem;

            img {
                width: 80%;
            }
        }
    }

    .shortener-container {
        padding-left: 3.61rem;
        padding-right: 3.61rem;
        background: linear-gradient(#fff 6rem, var(--color-light-gray) 0);
    }

    .shortener-form {
        flex-direction: column;
        padding: 2rem;

        button {
            width: 100%;
            margin-top: 2.5rem;
        }

        input {
            margin-right: 0;
        }
    }

    .invalid-form p {
        bottom: 6rem;
    }

    .statistics-cards {
        grid-template-columns: 17.66rem;
        margin-top: 1rem;

        &:after {
            transform: rotate(90deg);
            width: 80%;
            top: 25rem;
        }
    }

    .footer-container {
        grid-template-columns: 1fr;

        div {
            justify-self: center !important;
            text-align: center;
            margin-top: 1.8rem;
        }
    }
}

@media (max-width: 650px) {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem 4rem 1rem;
    
        img {
            align-self: flex-start;
        }
    
        nav,
        .auth-buttons {
            display: none;
        }
    }

    .get-started-container {
        padding-left: 1rem;

        .get-started-left {
            p {
                font-size: 1.2rem;
            }

            button {
                width: 15rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 3.8rem;
            }
        }
    }

    .shortener-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
