@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.app-container {
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-areas: 'header header'
                         'mockup content'
                         'footer footer';
    gap: 20px 50px;
    padding: 5%;
}

.header {
    grid-area: header;
    height: 3rem;
    margin-bottom: 40px;
}

.mockup {
    grid-area: mockup;
    width: 100%;
}

.content {
    grid-area: content;
    padding-top: 40px;

    h1 {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
    }

    p {
        margin: 20px 0;
        color: rgba(255, 255, 255, 0.788);
        line-height: 1.5;
    }

    button {
        color: hsla(257, 40%, 49%, 0.829);
        border: solid 1px #563f92 ;
        background: #fff;
        width: 200px;
        height: 60px;
        border-radius: 30px;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 15px -1px rgba(51,34,99,1);
        -moz-box-shadow: 0px 0px 15px -1px rgba(51,34,99,1);
        box-shadow: 0px 0px 15px -1px rgba(51,34,99,1);
    }

    p, button {
        font-size: 0.92rem;
    }
}

.footer {
    grid-area: footer;
    text-align: end;
    font-size: 20px;

    button {
        border: solid 1px #fff;
        background: hsl(257, 40%, 49%);
        border-radius: 100%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-right: 15px;

        color: #fff;
        font-size: 18px;

        &:hover {
            background: #fff;
            color: hsl(257, 40%, 49%);
        }
    }
}

@media(max-width: 1200px) {
    .app-container {
        grid-template-areas: 'header'
                             'mockup'
                             'content'
                             'footer';
        grid-template-columns: 1fr;
        padding: 10%;
    }

    .header {
        height: 2.3rem;
    }

    .content {
        margin-bottom: 30px;

        h1 {
            font-size: 1.3rem;
        }

        p, button {
            font-size: 0.9rem;
        }
    }

    .content, .footer {
        text-align: center;
    }
}